@import 'vars';

.Nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid $--very-light-pink;
    position: fixed;
    background-color: $--white;
    z-index: 2;
    width: 100%;
}

.menu-icon {
    display: none;
}

.nav-logo {
    width: 100px;
    display: flex;
}

.navbar-left {
    display: flex;
}

.navbar-left ul {
    margin-left: 12px;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: $--very-light-pink;
    border: 1px transparent $--white;
    border-radius: 8px;
    padding: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    text-decoration: none;
    color: $--hospital-green;
    border: 1px solid $--hospital-green;
}

.navbar-email {
    color: $--very-light-pink;
    font-size: $--sm;
    margin-right: 16px;
}

.navbar-shopping-cart {
    position: relative;
}

.navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: $--hospital-green;
    border-radius: 50%;
    font-size: $--sm;
    font-weight: bold;
    position: absolute;
    top: -8px;
    right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 720px) {
    .menu-icon {
        display: flex;        
    }

    .navbar-left ul {
        display: none;
    }

    .navbar-email {
        display: none;
    }
}